* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  background-clip: padding-box;

  &:horizontal {
    height: 5px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--grey-light);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}
body {
  background-color: var(--body-bg);
  position: relative;
}

.page {
  margin-top: 110px;
}

.prematch_page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.books_table_container {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border-radius: 6px;
  padding: 0.75rem 0.5rem;
}
