$maxWidth: 1920;

@mixin adaptiv-font($maxSize, $minSize) {
  $addSize: $maxSize - $minSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

@mixin adaptiv-line-height($maxSize, $minSize) {
  $addSize: $maxSize - $minSize;
  $maxWidth: $maxWidth - 320;
  line-height: calc(
    #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
