$body-bg: #f2f2f2;
$component-bg: #ffffff;
$dashboard-bg: #f2f2f2;

$dark: #212326;
$secondary: #4d5acd;

$grey-dark: #7e838d;
$grey-medium: #6c7179;
$grey-light: #bdc4cd;
$grey-simple: #dadee4;
$divider: #dbdade;
$danger: #ea5455;
$warning: #ff9f43;
$success: #37ab73;
$primary: #212326;
$white: #ffffff;
$info: #00cfe8;

// FONT FAMILIES:
$fontFamily1: "Poppins", sans-serif;
$fontFamily2: "Public Sans", sans-serif;
$fontFamily3: "Helvetica Neue", sans-serif;

// HOVER
$menuHover: rgba(75, 70, 92, 0.04);
$menuActive: rgba(77, 90, 205, 0.08);
