@import "main.scss";
@import "variables.scss";
@import "utility.scss";
@import "main.scss";
@import "login.scss";
@import "forms.scss";
@import "mixins.scss";
@import "typography.scss";
@import "components.scss";
@import "animations.scss";
@import "dashboard.scss";
@import "settings.scss";

:root {
  --body-bg: #{$body-bg};
  --component-bg: #{$component-bg};
  --dashboard-bg: #{$dashboard-bg};
  --font-family-1: #{$fontFamily1};
  --font-family-2: #{$fontFamily2};

  --dark: #{$dark};
  --secondary: #{$secondary};
  --grey-dark: #{$grey-dark};
  --grey-medium: #{$grey-medium};
  --grey-light: #{$grey-light};
  --grey-simple: #{$grey-simple};
  --divider: #{$divider};
  --danger: #{$danger};
  --warning: #{$warning};
  --success: #{$success};
  --primary: #{$primary};
  --white: #{$white};
  --info: #{$info};

  --menu-hover: #{$menuHover};
  --menu-active: #{$menuActive};
}
